{% extends "base.html" %}
{% load static %}

{% block title %}Board{{block.super }}{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>{{ advertisement.title }}</h1>
    <h3>{{ advertisement.author.username }}</h3>
    <p>{{ advertisement.content }}</p>

    {% if advertisement.photo %}
    <p class="photo">
    <img src="{{ advertisement.photo.url }}" alt="connect" style="max-height:300px">
    </p>
    {% endif %}

    {% if advertisement.author == user %}
    <a href="{% url 'board:edit_advertisement' advertisement.pk %}">Edit   </a>
    <a href="{% url 'board:delete_advertisement' advertisement.pk %}">   Delete</a>
    {% endif %}
{% endblock %}