{% extends "base.html" %}

{% block title %}Board{{block.super }}{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Advertisements</h1>
    {% if user.is_authenticated %}
        <a href="/board/add_advertisement"><button>Add Advertisement</button></a>
    {% endif %}
    {% if user.is_authenticated %}
        <form>
            <input class="search-field" type="search" name="search_author" placeholder="Поиск по сайту...">
            <a href="{% url 'board:advertisement_author_list' %}">{{ search_author }}<button>search</button></a>
        </form>
    {% endif %}
    <ul>
        {% for advertisement in advertisements %}
            <li>
                <a href="{% url 'board:advertisement_detail' pk=advertisement.pk %}">{{ advertisement.title }}<p>{{ advertisement.author.username }}</p></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}