{% extends "base.html" %}

{% block title %}Board{{block.super }}{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>All the authors {{ advertisement.author.username }} ads </h1>
    {%  for advertisement in advertisements %}
        <h3>{{ advertisement.title }}</h3>
        <p>{{ advertisement.content }}</p>
        <p>Likes: {{ count_likes }}, Dislikes: {{ count_dislikes }}</p>
        <a href="{% url 'board:advertisement_detail' pk=advertisement.pk %}">Go to the ad</a>
        <hr>
    {% endfor %}

{% endblock %}